
html, body {
  height: 100%;
  margin: 1% 0.5%; /* okraje stránky */
  
  
  font-family: "noka", sans-serif;
  
  
  background-size: cover;       /* obrázek vyplní celou plochu */
  background-repeat: no-repeat;
  background-color:rgb(0, 251, 13);
  
/* drží velikost contanieru */
}
.grid-wrapper {
  position: relative; /* referenční bod pro overlay */
  width: 100%;
  background-color: rgb(0, 0, 0);
  
  
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /*  sloupce */
  grid-template-rows: repeat(12, 1fr);
  gap: 1px; /* mezery mezi buňkami */
  
  
}

/* ňastaveni gridu na telefon */
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr); /*  sloupce pro mobil */
    grid-template-rows: repeat(12, 1fr);
  }
}


.cell {
  
  min-width: 0;
  min-height: 0;
  aspect-ratio: 1 / 0.965;/* rozměry buňky */
  z-index: 3; 
  

}

/* Prázdné buňky */
.cell.empty { 
  background-color: #5c10c600; 
  outline: 1px solid #ff000000;
}

.grid-container2 {
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .grid-container2 {
    grid-template-columns: repeat(6, 1fr); /*  sloupce pro mobil */
    grid-template-rows: repeat(12, 1fr);
  }
}

.cell2 {
  background-color: rgb(0, 137, 250);
  min-width: 0;
  min-height: 0;
  aspect-ratio: 1 / 0.965;/* rozměry buňky */
  z-index: 3; 
  position: relative; /* allow centering inside */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell2.empty2 { background-color: #00ff7b00; 
outline: 1px solid #ffffff68;
z-index: 10;


}

/* small circle placed inside one .cell2 */
.dot {
  /* hide the per-cell red DOM dots (we'll use the SVG intersection dots instead)
     set to display:none so they don't occupy layout or capture events */
  display: none;
}

/* SVG intersection dot color and appearance. Change the --intersection-dot-color variable to recolor */
:root {
  --intersection-dot-color: #acacac; /* default white */
 
}

.grid-overlay .intersection-dot {
  fill: var(--intersection-dot-color);
  opacity: 1;
  transition: fill 160ms ease, opacity 160ms ease;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none; /* neblokuje interakce */
  z-index: 1; /* nejvyšší, aby bylo nad gridem a model-viewery */
}





/* Obrázek přes buňky 14 až 26 */
.logo-cell {
  grid-column: 2 / 12;  /* sloupce */
  grid-row: 4 / 5;     /* řádky */
  
  background-image: url('Imiges/LOGO.svg');
  padding: 0px;
  transform: scale(1.10);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1;

}
/* pro telefon */
@media screen and (max-width: 600px) {
  .logo-cell {
   grid-column: 1 / 5;  /* sloupce  */
  grid-row: 3 / 4;  
   background-position: 0px 40px; 
  } 
}
.logo-cell:hover {
  
    transform: scale(1.14);
    transition-delay: 0.2s;
}



.item_hvezda-cell {
  grid-column: 8 / 9;  /* sloupce  */
  grid-row: 2 / 3;     /* řádky  */
  
  background-image: url('Imiges/hvezdicka-01.svg');
  padding: 0px;
  background-repeat: no-repeat;
  scale: 1.;
  background-position: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 5; 
}
.item_hvezda-cell:hover {
    transform: scale(1.1);
    transition-delay: 0.15s;
}

.item_hvezda2-cell {
  grid-column: 12 / 13;  /* sloupce  */
  grid-row: 8 / 9;     /* řádky  */
  
  background-image: url('Imiges/hvezdicka-01.svg');
  padding: 0px;
  background-repeat: no-repeat;
  scale: 1.;
  background-position: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
   z-index: 5; 

}
.item_hvezda2-cell:hover {
    transform: scale(1.1);
    transition-delay: 0.15s;
}


.item_sipka_dole-cell {
  grid-column: 2 / 3;  /* sloupce  */
  grid-row: 14 / 15;     /* řádky  */
  
  background-image: url('Imiges/sipka.svg');
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 3; 

}
.item_sipka_dole-cell:hover {
    transform: scale(1.1);
    transition-delay: 0.1s;
}

.item_sipka_dole2-cell {
  grid-column: 2 / 3;  /* sloupce  */
  grid-row: 7 / 8;     /* řádky  */
  
  background-image: url('Imiges/sipka.svg');
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 3; 
}

.item_sipka_dole2-cell:hover {
    transform: scale(1.1);
    transition-delay: 0.1s;
}

.img_pohyb-cell {
  grid-column: 2 / 8;  /* sloupce  */
  grid-row: 2 / 8;     /* řádky  */
  
  background-image: url('Imiges/Artboard 8.png');
  padding: 0px;
  transform: scale(0.92);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;  /*ˇuprava velikosti*/
  /*background-position: 20px -20px;   ˇuprava velikosti a posun*/
  transition: rotate 0.8s ease, opacity 0.3s ease;
  z-index: 0; 
}

@media screen and (max-width: 600px) {
  .img_pohyb-cell {
   grid-column: 1 / 5;  /* sloupce  */
  grid-row: 2 / 6;  
  }
  
}

.img_pohyb-cell:hover {
     
    transition-delay: 0.2s;

    rotate: 20deg;   
}

.model  {
  grid-column: 2 / 6;  /* sloupce  */
  grid-row: 9 / 13; 
  scale: 1.4;

}
.model2  {
  grid-column: 8 / 12;  /* sloupce  */
  grid-row: 9 / 13; 
  scale: 1.4;

}

model-viewer {
  width: 100%;
  height: 100%;
  z-index: 50;
 
  
}

.text1 {
  grid-column: 9 / 13;  /* sloupce  */
  grid-row: 2 / 3;     /* řádky  */
  color: white;
  font-size: 1.68vw;
  line-height: 1.1;
  scale: 0.95;
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 30; 
}

.text1:hover {
   transform: scale(1.04);
    transition-delay: 0.15s;
}