
html, body {
  height: 100%;
  margin: 0 0; /* okraje stránky */
  
  
  font-family: "noka", sans-serif;
  
  
  background-size: cover;       /* obrázek vyplní celou plochu */
  background-repeat: no-repeat;
  background-color:rgb(255, 255, 255);
  
  
 
  
  
/* drží velikost contanieru */
}
.grid-wrapper {
  position: relative; /* referenční bod pro overlay */
  width: 100%;
  background-color: rgb(0, 0, 0);
  
  
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /*  sloupce */
  grid-template-rows: repeat(12, 1fr);
  gap: 1px; /* mezery mezi buňkami */
  outline: 1px solid #0dff04;
 
  background-image: url('Imiges/grid.svg');
  z-index: 100;
  
  
}



/* ňastaveni gridu na telefon */
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr); /*  sloupce pro mobil */
    grid-template-rows: repeat(12, 1fr);
  }
}




.cell {
  
  min-width: 0;
  min-height: 0;
  aspect-ratio: 1 / 0.965;/* rozměry buňky */
  z-index: 3; 
  

}

/* Prázdné buňky */
.cell.empty { 
  background-color: #5c10c600; 
  outline: 1px solid #09ff0000;
}

.grid-container2 {
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  pointer-events: none;
  gap: 1px; /* match .grid-container gap so centers align */
  box-sizing: border-box;
  
  
  

}

@media screen and (max-width: 600px) {
  .grid-container2 {
    grid-template-columns: repeat(6, 1fr); /*  sloupce pro mobil */
    grid-template-rows: repeat(12, 1fr);
  }
}

.cell2 {
  background-color: rgb(0, 137, 250);
  min-width: 0;
  min-height: 0;
  aspect-ratio: 1 / 0.965;/* rozměry buňky */
  z-index: 3; 
  position: relative; /* allow centering inside */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell2.empty2 { background-color: #00ff7b00; 
outline: 0.001mm solid #ffffff36;
z-index: 1;


}

/* small circle placed inside one .cell2 */
.dot {
  /* hidden by default; enable for debug by setting display:block */
  display: none;
  width: 8px;
  height: 8px;
  background: var(--intersection-dot-color);
  border-radius: 50%;
  box-shadow: 0 0 0 1px #00000033;
}

/* SVG intersection dot color and appearance. Change the --intersection-dot-color variable to recolor */
:root {
  --intersection-dot-color: #ffffffca; /* default white */
  
 
}

.grid-overlay .intersection-dot {
  fill: var(--intersection-dot-color);
  opacity: 1;
  transition: fill 160ms ease, opacity 160ms ease;
  
  
  
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* neblokuje interakce */
  z-index: 3; /* nejvyšší, aby bylo nad gridem a model-viewery  je to na kruhy */

}





/* Obrázek přes buňky 14 až 26 */
.logo-cell {
  grid-column: 1 / 13;  /* sloupce */
  grid-row: 1 / 6;     /* řádky */
  
  background-image: url('Imiges/LOGO.svg');
  padding: 0px;
  
  transform: scale(0.98);
  background-position: center ;
 
  background-repeat: no-repeat;
  
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 5;
  
}
/* pro telefon */
@media screen and (max-width: 600px) {
  .logo-cell {
   grid-column: 1 / 5;  /* sloupce  */
  grid-row: 3 / 4;  
   background-position: 0px 40px; 
  } 
}
.logo-cell:hover {
  
    transform: scale(1.02);
    transition-delay: 0.2s;
}



.item_hvezda-cell {
  grid-column: 12 /13;  /* sloupce  */
  grid-row: 6 / 7;     /* řádky  */
  
  background-image: url('Imiges/hvezdicka-01.svg');
  padding: 0px;
  background-repeat: no-repeat;
  scale: 1.;
  background-position: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 5; 
}
.item_hvezda-cell:hover {
    transform: scale(1.1);
    transition-delay: 0.15s;
}




.item_sipka_dole-cell {
  grid-column: 2 / 3;  /* sloupce  */
  grid-row: 14 / 15;     /* řádky  */
  
  background-image: url('Imiges/sipka.svg');
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 3; 

}
.item_sipka_dole-cell:hover {
    transform: scale(1.1);
    transition-delay: 0.1s;
}

.item_sipka_dole2-cell {
  grid-column: 1 / 2;  /* sloupce  */
  grid-row: 6 / 7;     /* řádky  */
  
  background-image: url('Imiges/sipka.svg');
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 3; 
}

.item_sipka_dole2-cell:hover {
    transform: scale(1.1);
    transition-delay: 0.1s;
}

.img_pohyb-cell {
  grid-column: 4 / 10;  /* sloupce  */
  grid-row: 20 / 20
  ;     /* řádky  */
  
  background-image: url('Imiges/Artboard 8.png');
  padding: 0px;
  transform: scale(0.92);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;  /*ˇuprava velikosti*/
  /*background-position: 20px -20px;   ˇuprava velikosti a posun*/
  transition: rotate 0.8s ease, opacity 0.3s ease;
  z-index: 4; 
}

@media screen and (max-width: 600px) {
  .img_pohyb-cell {
   grid-column: 1 / 5;  /* sloupce  */
  grid-row: 2 / 6;  
  }
  
}

.img_pohyb-cell:hover {
     
    transition-delay: 0.2s;

    rotate: 20deg;   
}

.model  {
  grid-column: 2 / 6;  /* sloupce  */
  grid-row: 7 / 11; 
  scale: 1.4;

}
.model2  {
  grid-column: 8 / 12;  /* sloupce  */
  grid-row: 7 / 11; 
  scale: 1.4;

}

model-viewer {
  width: 100%;
  height: 100%;
  z-index: 50;
 
  
}


/* TEXTY TEXTY */

.text1 {
  grid-column: 9 / 12;  /* sloupce  */
  grid-row: 6 / 7;     /* řádky  */
  color: rgb(38, 255, 0);
 
  font-size: 1.44vw;
  line-height: 1.1;
  scale: 0.95;
      /* centering text */
  display: flex;
  justify-content: center; /* vodorovně */
  align-items: center;     /* svisle */
   text-align: right;    /* pro více řádků textu */
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1; 
}
  .text1:hover {
   transform: scale(1.04);
    transition-delay: 0.15s;
  }

.text2 {
  grid-column: 2 / 3;  /* sloupce  */
  grid-row: 6 / 7;     /* řádky  */
  color: rgb(0, 255, 13);
  
  font-size: 1.44vw;
  line-height: 1.1;
  scale: 0.95;
    /* centering text */
  display: flex;
  justify-content: center; /* vodorovně */
  align-items: center;     /* svisle */
  
  
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 2; 
}
  .text1:hover {
   transform: scale(1.04);
    transition-delay: 0.15s;
  }

.text3 {
  grid-column: 2 / 6;  /* sloupce  */
  grid-row: 10 / 11;     /* řádky  */
  color: rgb(0, 255, 13);
  
  font-size: 3vw;
  line-height: 1.1;
  scale: 1;
    /* centering text */
  display: flex;
  ; /* vodorovně */
  align-items: center ;     /* svisle */
  text-align: left; 
  
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 100; 
}

.text4 {
  grid-column: 9 / 12;  /* sloupce  */
  grid-row: 10 / 11;     /* řádky  */
  color: rgb(0, 255, 13);
  
  font-size: 3vw;
  line-height: 1.1;
  scale: 1;
    display: flex;
  justify-content: flex-end; /* zarovnání doprava */
  align-items: center;  
    text-align: right;  
    align-items: center ;
  
  
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 100; 
}